# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_save
*.ipynb_checkpoints


# System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Python dependency files
*.sqlite3
*.db

# Environment & secrets
.env
*.env
*.json
secrets.json

# Build/packaging
build/
dist/
*.spec
*.egg-info/

# Streamlit
.streamlit/
